@use 'variables' as *;


a{
 &.anchor{
    &-control{
    border: 1px solid $primary;
    border-radius: 50%;
  }
  &-inline{

      &-text{
        color: $primary;

        &:hover{
          text-decoration: underline;
          color: $primary;
        }
      }

    }

  }
}
