@use 'sass:map';
@use 'sass:string';
//main colors
$gray: #33302C !default;
$black: #171717 !default;
$light-orange: #FFA552 !default;
$regular-orange: #FF8800 !default;
$dark-orange: #B34E00 !default;
$white: #FAFAFA !default;
$info: #B2CAFE !default;
$error: #FFA8A8 !default;
$success: #C2FFB2 !default;

//Primary and secondary
$primary: $regular-orange;
  $secondary: $gray;

//Fonts
$fonts: ("FiraCode": "../fonts/fira-code/", "GrandHotel": "../fonts/grand-hotel/");
$allowed-extensions: ("woff" : "woff", "ttf": "truetype", "otf": "opentype");
  $font-weight-ref: (
  "thin": 100, "hairline": 100,
"extra light": 200, "ultra light": 200,
"light": 300,
"normal": 400, "regular": 400,
"medium": 500,
"semi bold": 600, "demi bold": 600,
"bold": 700,
"extra bold": 800, "ultra bold": 800,
"black": 900, "heavy": 900,
"extra black": 950, "ultra black": 950,
  );


